node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

json-server/node_modules/**/*
json-server/db.json


# macOS
.DS_Store

# JetBrains
.idea/
